
.jumbotron {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.coachrow, .meetingrow, .photorow, .onlinerow {
    margin-bottom: 40px;
}

ol.breadcrumb {
    /*background-color: transparent;*/
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #bbb;
    content: ">\00a0";
}
